<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}} </mat-card-title>
    <mat-icon style="margin-left:auto;" (click)="toggle()">
      {{open? 'expand_less':'expand_more'}}
    </mat-icon>
    <!-- <mat-icon>expand_less</mat-icon> -->
  </mat-card-header>
  <mat-card-content *ngIf="open">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>