<h1>{{counter}}</h1>

<div [attr.data-id]="playlist.id" [title]="playlist.name">
  <mat-list>
    <mat-list-item>
      <span matLine>Name:</span>
      <span fxFlex="1 1 80%">{{playlist.name | titlecase | slice:0:30}}</span>
    </mat-list-item>

    <mat-list-item>
      <span matLine>Public:</span>
      <span fxFlex="1 1 80%" class="is-public" 
      [style.font-size.px]=" playlist.public? 20 : 22"
      [ngClass]="{
          'is-public-yes':playlist.public, 
          'is-public-no':!playlist.public
      }">
        {{playlist.public | yesno}}</span>
    </mat-list-item>

    <mat-list-item>
      <span matLine>Description:</span>
    </mat-list-item>
    <mat-list-item>
      <span> {{playlist.description | slice:0:30}} </span>
    </mat-list-item>

  </mat-list>

  <div fxLayout="row" fxLayoutAlign="end end">

    <button mat-raised-button color="primary" (click)="onEdit.emit()">Edit</button>
  </div>

  
  <p>Some info</p>
</div>