<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="flex-start">


  <ng-container *ngFor="let result of results">
    <sgs-album-card 
    [album]="result"
    fxFlex="0 1 calc(100%/4 - 16px)" class="card-vertical-space"></sgs-album-card>
  </ng-container>

</div>

<style>
  .card-vertical-space {
    margin-bottom: 16px;
  }
</style>